nav {
    background: rgb(11,6,21);
    background: linear-gradient(90deg, rgba(11,6,21,1) 0%, rgba(62,39,91,1) 50%, rgba(107,87,135,1) 100%);
    color: white;
    
}

nav .navbar-brand img {
    height: 35px;
}