<div class="grid text-center my-5">
  <div class="g-col-4"></div>
  <div class="g-col-4">
    <div class="display-6">Signup Page</div>
  </div>
  <div class="g-col-4"></div>
</div>

<div class="container my-5 mx-auto" [class]="util.isMobile() ? '': 'w-50'">
  <form class="row g-3" [formGroup]="signupForm" (ngSubmit)="onFormSubmit()">
    <div class="col-md-12">
      <label for="inputName" class="form-label">Your Name</label>
      <input type="text" class="form-control"
       formControlName="name" 
       id="inputName" required/>
        <ng-container *ngIf="signupForm.get('name')?.invalid && (signupForm.get('name')?.dirty || signupForm.get('name')?.touched)">
          <div class="text-danger" *ngIf="signupForm.get('name')?.hasError('required')">
            {{formErrors.required}}
          </div>
        </ng-container>
    </div>

    <div class="col-md-12">
      <label for="inputUsername" class="form-label">Your username</label>
      <input type="text" class="form-control"
       formControlName="username" 
       id="inputUsername" required/>
        <ng-container *ngIf="signupForm.get('username')?.invalid && (signupForm.get('username')?.dirty || signupForm.get('username')?.touched)">
          <div class="text-danger" *ngIf="signupForm.get('username')?.hasError('required')">
            {{formErrors.required}}
          </div>
        </ng-container>
    </div>

    <div class="col-md-12">
      <label for="inputEmail4" class="form-label">Email</label>
      <input 
        type="email"
        class="form-control" 
        id="inputEmail4" 
        formControlName="emailId" required />

        <ng-container *ngIf="signupForm.get('emailId')?.invalid && (signupForm.get('emailId')?.dirty || signupForm.get('emailId')?.touched)">
          <div class="text-danger" *ngIf="signupForm.get('emailId')?.hasError('required')">
            {{formErrors.required}}
          </div>
          <div class="text-danger" *ngIf="signupForm.get('emailId')?.hasError('email')">
            {{formErrors.emailId.email}}
          </div>
        </ng-container>
    </div>
    <div class="col-md-12">
      <label for="inputPassword" class="form-label">Password</label>
      <div class="input-group mb-3">
        <input 
          [type]="showPassword ? 'text': 'password'" class="form-control"
          formControlName="password"
         id="inputPassword" aria-describedby="button-password-toggle" required/>
        
         <button class="btn btn-outline-secondary" type="button" id="button-password-toggle" (click)="showPassword = !showPassword">
          {{showPassword ? "Hide": 'Show'}}
        </button>
      </div>

      <ng-container *ngIf="signupForm.get('password')?.invalid && (signupForm.get('password')?.dirty || signupForm.get('password')?.touched)">
        <div class="text-danger" *ngIf="signupForm.get('password')?.hasError('required')">
          {{formErrors.required}}
        </div>
        <div class="text-danger" *ngIf="signupForm.get('password')?.hasError('pattern')">
          {{formErrors.password.pattern}}
        </div>
      </ng-container>
    </div>

    <div class="col-12">
      <div class="form-check">
        <input 
          formControlName="agree"
          class="form-check-input"
           type="checkbox" id="gridCheck" required/>

        <label class="form-check-label" for="gridCheck">
          I agree to Terms and conditions
        </label>

        <ng-container *ngIf="signupForm.get('agree')?.invalid && (signupForm.get('agree')?.dirty || signupForm.get('agree')?.touched)">  
          <div class="text-danger" *ngIf="signupForm.get('agree')?.hasError('required')">
            {{formErrors.required}}
          </div>
        </ng-container>
      </div>
    </div>
    <div class="d-grid gap-2 col-6 mx-auto my-5">
      <button class="btn btn-primary" type="submit">Signup</button>
    </div>
  </form>
</div>
